{% extends 'base.html' %}

{% load staticfiles %}

{% block head_title %} Om Patregister {% endblock %}

    
{% block content %}
    {% csrf_token %}
    <!--Sok Medlem: <input type="text" id="search" name="search" />-->
    <ul id="search-results">
        
    </ul>

    <h2>Denna applikation hjalper att registrera medlemmar och spara deras uppgifter.</h2>
    
    {% if user.is_authenticated %}
        <a href="{% url 'register' %}"><img src="{{ MEDIA_URL }}block.png" alt="Om Patregister" /></a>
    {% else %}
        <a href="#"><img src="{{ MEDIA_URL }}block.png" alt="Om Patregister" /></a>
    {% endif %}
    
{% endblock %}

