{% extends 'base.html' %}

{% block head_title %}Logga in{% endblock %}

{% load staticfiles %}
    
{% block content %}
    
    <h2>Logga in</h2>
    
    <form id="login_form" method="post" action="/login/">
        {% csrf_token %}
        
        Anvandar: <input type="text" name="username" value="" size="30" />
        <br /><br />
        Losenord: <input type="password" name="password" value="" size="30" />
        <br /><br />
        
        <input type="submit" name="submit" value="Logga in." />
    </form>
    
    
{% endblock %}

