{% extends 'base.html' %}

{% block head_title %}Patmos register{% endblock %}
    
{% load staticfiles %}
    
{% block content %}
    {% csrf_token %}
    <!--Sok: <input type="text" id="search" name="search" />-->
    <ul id="search-results">
        
    </ul>

    <h2>{{ register1 }}</h2>
    
    <form method="post" action="/register/">   
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <input type="submit" name="submit" value="Registrera" />
        
    </form>
{% endblock %}

